body{
    font-family: 'Work Sans', sans-serif;
}
.color-dissi{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
   
}
h1{
    font-size: 25px;
}
img{
    width: 100%;
}
.kiss{
    color: orange;
    font-size: 15px;
    padding: 10px 15px;
    background: orange;
    border-color: orange;
}