body{
    font-family: 'Work Sans', sans-serif;
}
.color-dissi{
    color: orange;
}
.width{
    width: 40%;
    padding: 5%;
    margin-left: 2%;
    float: left;
}
h1{
    font-size: 25px;
}
.width img{
    width: 100%;
}
.kiss{
    color: orange;
    font-size: 15px;
    padding: 10px 15px;
    background: orange;
    border-color: orange;
}