body{
    font-family: 'Work Sans', sans-serif;
}
.color-dissi{
    color: orange;
}
.width{
    width: 40%;
    padding: 5%;
    margin-left: 2%;
}
.width img{
    width: 100%;
}
button{
    color: orange;
    font-size: 15px;
    padding: 10px 15px;
}